<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body style='padding-top: 6rem;' class="d-flex flex-column justify-content-center align-items-center position-relative">
    <%- include('navbar') %>
    <form style='max-width: 430px; width: 100%;' action="" method="" class="card bg-secondary shadow-lg p-4">

      <h1 class='card-header text-light'>Create your game</h1>

      <div class="input-group mt-3">
        <label for="game-name" class="input-group-text">Name</label>
        <input
          name="game_name"
          id="game-name"
          class="form-control"
          placeholder='World of Warcraft...'
          type="text"
        />
      </div>
      <div class="input-group mt-3">
        <label for="genre" class="input-group-text">Genre</label>
        <input
          name="genre"
          id="genre"
          placeholder='MMO RPG...'
          class="form-control"
          type="text"
        />
      </div>
      <div class="input-group mt-3">
        <label for="developer" class="input-group-text">Developer</label>
        <input
          name="developer"
          id="developer"
          class="form-control"
          placeholder='Blizzard...'
          type="text"
        />
      </div>

      <button id="submit-button" type='submit' class='btn btn-primary shadow-lg mt-4'>Create</button>
      <a href="/" class='btn btn-dark mt-3'>Back home</a>
    </form>

  </body>
</html>
