<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="padding-top: 6rem"
    class="d-flex justify-content-center items-start text-light position-relative"
  >
    <%- include('navbar') %>
    <div
      class="container rounded-3 p-4 bg-secondary d-flex justify-content-center align-items-center shadow-lg"
    >
      <% if (games && games.length <= 0) { %>
      <h1>No games were added yet</h1>
      <% } %>
    </div>
  </body>
</html>
